#boardroom {
  background-color: #133b40;
  color: white;
}

#boardroom a {
  color: white;
}

#boardroom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bi-instagram {
  font-size: 24px;
}